<% layout('layouts/boilerplate')%>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%=err.message%></h4>
    <p><%=err.stack%></p>
    <p style="text-align: center;"><a onclick="history.go(-1); return false;" style="cursor:pointer;">Back to previous page</a></p>
    <p class=""mb-0"></p>
</div>